services:
  bot:
    build: .
    container_name: ${APP_NAME:-hono-bot-wa}
    ports:
      - "${PORT:-1997}:${PORT:-1997}"
    env_file:
      - .env
    volumes:
      - ./.wwebjs_auth:/app/.wwebjs_auth
      - ./.wwebjs_cache:/app/.wwebjs_cache
    command: bun run --hot src/index.ts
